@media only screen and (min-width: 1200px) and (max-width: 1399px) { 
	#service-featured-section .container {
		top: 50px;
	}

    #service-featured-section .content h1 {
    	font-size: 70px;
    	margin-bottom: 30px;
    }

    #service-featured-section .content p {
    	margin-bottom: 50px;
    }
}




/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
    header .menu > ul > li {
    	margin-right: 30px;
    }

    #mark-works-section .mark-works-item h3 {
    	padding: 25px 15px 15px;
    	font-size: 32px;
    }

    #service-featured-section .container {
    	top: 50px;
    }

    #service-featured-section .content h1 {
    	font-size: 60px;
    	margin-bottom: 25px;
    }

    #service-featured-section .content p {
    	font-size: 32px;
    	margin-left: 0;
    	margin-bottom: 40px;
    }

    #service-featured-section .content .button-primary {
    	font-size: 20px;
    }

    #about-featured-section .container {
    	top: 50px;
    }

    #about-featured-section .content h1 {
	    font-size: 40px;
	    margin-bottom: 25px;
	}

	#about-featured-section .content p {
	    font-size: 18px;
	}

	#discover-section .text-box {
		font-size: 20px;
		line-height: 1.2em;
	}
}





/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 50px;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 22px;
	}

	header .logo {
	    width: 150px;
	}

	header .menu > ul > li {
    	margin-right: 20px;
    }

    header .menu > ul > li > a {
    	font-size: 16px;
    }

    #mark-works-section .mark-works-item h3 {
    	padding: 25px 15px 15px;
    	font-size: 27px;
    }

    #mark-works-section .mark-works-item h4 {
    	font-size: 20px;
    }

    #mark-works-section .mark-works-item .button-secondary {
    	font-size: 16px;
    }

    #testimonials-section .testimonials-item .contents p {
	    font-size: 20px;
	    margin-bottom: 15px;
	}

	#testimonials-section .testimonials-item .contents h3 {
    	font-size: 27px;
		margin-bottom: 10px;
	}

	#testimonials-section .testimonials-item .contents span {
	    font-size: 16px;
	    margin-bottom: 30px;
	}

	#testimonials-section .testimonials-item .contents .button-secondary {
	    font-size: 18px;
	}

	#brain-section .brain-item .image-box .contents a {
		font-size: 20px;
	}

	#service-slider-section .owl-theme .owl-nav button {
		width: 60px;
	}

	#service-featured-section .container {
		top:50px;
	}

	#service-featured-section .content h1 {
		font-size: 45px;
		margin-bottom: 20px;
	}

	#service-featured-section .content p {
		font-size: 25px;
		margin-bottom: 25px;
		margin-left: 0;
		line-height: 1.2em;
	}

	#service-featured-section .content .button-primary {
		font-size: 14px;
	}

	#secret-section p {
		font-size: 20px;
	}

	#about-featured-section .container {
		top: 40px;
	}

	#about-featured-section .content h1 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	#about-featured-section .content p {
	    font-size: 14px;
	}
}





/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 42px;
	}

	h3 {
		font-size: 25px;
	}

	h4 {
		font-size: 18px;
	}

	.button-primary {
	    font-size: 20px;
	    border-width: 3px;
	    padding: 4px 25px;
	}


	header .header-topbar {
	    font-size: 20px;
	    padding: 15px 0 20px;
	}

	header .logo {
	    width: 150px;
	}

	header .menu {
		display: none;
	}

	header .search-icon {
		margin-left: auto;
		margin-right: 10px;
	}

	header nav {
		padding: 10px 0;
	}

	.slicknav_menu {
		background: none;
		padding: 0;
	}

	.slicknav_btn {
		margin: 0;
		padding: 0;
		background: none;
	}

	.slicknav_menu .slicknav_icon {
		width: auto;
		height: auto;
		margin: 0;
	}

	.slicknav_menu .slicknav_icon-bar {
		width: 34px;
		height: 5px;
	}

	.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	    margin-top: 6px;
	}

	.slicknav_nav {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #000;
	}

	header .mobile-menu {
		display: block;
	}

	.button-primary b {
		display: none;
	}

	.vimeo-wrapper iframe {
		left: 5%;
	}

	#hero-section {
		min-height: calc(100vh - 65px);
		margin-top: 65px;
		padding: 50px 0;
	}

	#mark-works-section .mark-works-item {
		height: 400px;
		margin-bottom: 50px;
	}

	#mark-works-section .mark-work-highlight {
		height: 300px;
	}

	#mark-works-section .mark-work-highlight h3 {
		padding: 25px 15px 15px;
	}

	#testimonials-section {
		padding: 50px 0 0;
	}

    #testimonials-section .testimonials-item .contents p {
	    font-size: 20px;
	    margin-bottom: 15px;
	}

	#testimonials-section .testimonials-item .contents h3 {
    	font-size: 27px;
		margin-bottom: 10px;
	}

	#testimonials-section .testimonials-item .contents span {
	    font-size: 16px;
	    margin-bottom: 30px;
	}

	#testimonials-section .testimonials-item .contents .button-secondary {
	    font-size: 18px;
	}

	#testimonials-section .owl-theme .owl-nav button {
		width: 50px;
	}

	#testimonials-section .owl-theme .owl-nav .owl-prev {
		float: left;
	}

	#testimonials-section .owl-theme .owl-nav .owl-next {
		float: right;
	}

	.section-header h3 {
		font-size: 36px;
	}

	#brain-section .owl-theme .owl-nav button {
		width: 50px;
	}

	#brain-section .owl-theme .owl-nav .owl-prev {
		float: left;
	}

	#brain-section .owl-theme .owl-nav .owl-next {
		float: right;
	}

	#brain-section .brain-item .image-box .contents a {
		font-size: 14px;
		padding: 4px 25px;
	}

	footer {
		padding: 50px 0 0;
	}

	#product-hero-section {
	    min-height: auto;
		margin-top: 65px;
		padding: 80px 0 100px;
	}

	#product-hero-section p {
	    font-size: 25px;
		margin-top: 0;
	}

	#product-hero-section .product-section-title {
	    bottom: 5px;
	}

	#product-hero-section h1 {
	    font-size: 35px;
	}

	#service-intro-section h2 {
	    font-size: 30px;
	    margin: 10px 0 20px;
	}

	#service-intro-section p {
		font-size: 20px;
	}

	#service-slider-section {
		padding: 25px 0;
	}

	#service-slider-section h2 {
		font-size: 35px;
	}

	#product-hero-section {
		background-size: 250% 100%;
	}

	#service-slider-section .owl-theme .owl-nav button {
		width: 50px;
	}

	#service-slider-section .owl-theme .owl-nav .owl-prev {
		float: left;
	}

	#service-slider-section .owl-theme .owl-nav .owl-next {
		float: right;
	}

	#service-slider-section .service-slider-item .description p {
		font-size: 20px;
	}

	#service-featured-section {
		background-position: center;
		background-size: cover;
		padding: 50px 0;
	}

	#service-featured-section .section-image {
		display: none;
	}

	#service-featured-section .container {
		position: initial;
	}

	#service-featured-section .content {
		width: 100%;
		text-align: center;
	}

	#service-featured-section .content h1 {
		font-size: 35px;
		margin-bottom: 20px;
	}

	#service-featured-section .content p {
		font-size: 24px;
		margin-left: 0;
		margin-bottom: 30px;
		max-width: 350px;
		display: inline-block;
	}

	#service-featured-section .content .button-primary {
		font-size: 18px;
		max-width: 290px;
		display: block;
		margin: 0 auto;
		border-width: 3px;
		padding: 5px;
	}

	#service-banner h2 {
		font-size: 20px;
	}

	#service-text-section h2 {
		font-size: 30px;
	}

	#service-text-section p {
		font-size: 20px;
	}

	#about-hero-section {
		background-size: 200% 100%;
	    min-height: auto;
		margin-top: 65px;
		padding: 80px 0 50px;
	}

	#about-hero-section h1 {
	    margin-bottom: 20px;
	    font-size: 35px;
	}

	#about-hero-section p {
	    font-size: 25px;
	}

	footer {
		text-align: center;
	}

	#about-featured-section .container {
		top: 50px;
	}

	#about-featured-section .content h1 {
		font-size: 40px;
		margin-bottom: 30px;
	}

	#about-featured-section .content p {
		font-size: 22px;
	}

	#about-cta-section .text-box {
	    width: 100%;
	}

	#about-cta-section .action-box {
		width: 100%;
		margin-left: 0;
	}

	#about-cta-section p {
		font-size: 20px;
	}

	#discover-section h2 {
	    font-size: 28px;
	}

	#discover-section .text-box {
		text-align: center;
		font-size: 20px;
		line-height: 1.2em;
		margin: 25px 0 0;
	}

	#quote-section {
		font-size: 20px;
	}

	#secret-section h2 {
	    font-size: 28px;
	}

	#secret-section p {
		font-size: 20px;
	}

	#secret-section .news-image img {
		margin: 25px auto 0;
		display: block;
	}

	#about-featured-section {
	    padding: 50px 0;
	}

	#about-video-section p {
	    font-size: 20px;
	    margin-bottom: 0;
	}

	#about-featured-section .section-image {
		display: none;
	}

	#about-featured-section .container {
		position: initial;
	}

	#about-featured-section .content {
		width: 100%;
		text-align: center;
	}

	#about-featured-section .content h1 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	#about-featured-section .content p {
		font-size: 20px;
	}

	#cta-section {
	    padding: 50px 0 20px;
	}

	#cta-section .cta-item {
		max-width: 400px;
		margin: 0 auto 30px;
	}

	#contact-section button {
		margin-top: 20px;
	}

	#contact-hero-section {
	    min-height: auto;
		margin-top: 65px;
		padding: 80px 0 50px;
		font-size: 25px;
	}

	#contact-hero-section p {
		font-size: 25px;
	}

	#brain-page-testimonial-section .owl-theme .owl-nav button {
		width: 50px;
	}

	#brain-page-testimonial-section .owl-theme .owl-nav .owl-prev {
		float: left;
	}

	#brain-page-testimonial-section .owl-theme .owl-nav .owl-next {
		float: right;
	}

	#brain-page-testimonial-section .owl-theme .owl-nav {
		top: 4%;
	}
}





/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 576px) and (max-width: 767px) { 
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 54px;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 20px;
	}

	.vimeo-wrapper iframe {
		left: 20%;
	}

	footer {
		text-align: left;
	}

	#brain-page-testimonial-section .owl-theme .owl-nav {
		top: 16%;
	}
		
}