/* Defult CSS */
html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.d-table {
    display: table;
    width: 100%;
    height: 100%;
}

.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.container {
	max-width: 1308px;
}

.search-modal-wrpr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 25, 38, .95);
    z-index: 1000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.search-modal-wrpr.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.search-modal-wrpr .close-icon {
    position: absolute;
    top: 20px;
    right: 25px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
	font-size: 50px;
}

.search-modal-wrpr .close-icon:hover {
    opacity: 1;
}

.inline-form-primary {
    position: absolute;
    max-width: 600px;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.inline-form-primary input {
	height: 45px;
    border: 2px solid #fff;
    border-right: none;
    background: transparent;
    width: calc(100% - 190px);
    padding: 5px 15px;
    color: #fff;
}

.inline-form-primary button {
	height: 45px;
    width: 190px;
    background: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.button-primary {
	font-size: 24px;
    font-weight: 700;
    background: transparent;
    color: #ffffff;
    border: 4px solid #FFFFFF;
	border-radius: 32px;
	padding: 4px 36px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button-primary:hover,
.button-primary:active {
	background: #ffffff;
    color: #000000;
}

.button-secondary {
	font-size: 20px;
    font-weight: 700;
    background: #FFFFFF;;
    color: #000102;
	border-radius: 32px;
	padding: 3px 20px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button-secondary:hover,
.button-secondary:active {
	background: #000000;
    color: #ffffff;
}

.button-secondary-dark-border {
	font-size: 20px;
    font-weight: 700;
    background: #FFFFFF;;
    color: #000102;
	border-radius: 32px;
	padding: 3px 20px;
	border: 3px solid #000102;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button-secondary-dark-border:hover,
.button-secondary-dark-border:active {
	background: #000000;
    color: #ffffff;
}

#text-roller{
  position: relative;
  white-space: nowrap;
}

.vimeo-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   overflow: hidden;
}

.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.player .vp-overlay-wrapper {
	display: none !important;
}

/* Typograpgy */
body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

.section-header {
	margin-bottom: 40px;
	text-align: center;
}

.section-header h3 {
	font-size: 64px;
	font-weight: 500;
	color: #008BCD;
}


/* Header Area */
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

header .header-topbar {
	font-weight: 700;
	padding: 20px 0 24px;
	background: #000;
	color: #fff;
	overflow-x: hidden;
}

header nav {
	padding: 20px 0;
	-webkit-transition: 0.3s;
   -moz-transition: 0.3s;
    -ms-transition: 0.3s;
     -o-transition: 0.3s;
        transition: 0.3s;
}

header nav:hover {
	background: #000;
}

header .logo {
	z-index: 100;
}

header .menu {
	margin-left: auto;
}

header .menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header .menu>ul>li {
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

header .menu>ul>li>a {
	color: #fff;
	font-size: 18px;
	padding: 5px 0;
	display: block;
}

header .menu ul li a:hover {
	color: #008BCD;
	text-decoration: none;
}

header .menu ul li ul {
	width: 330px;
	position: absolute;
	top: 100%;
	text-align: center;
	margin-left: -165px;
	left: 50%;
	background: #000;
	padding: 10px 5px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
   -moz-transition: 0.3s;
    -ms-transition: 0.3s;
     -o-transition: 0.3s;
        transition: 0.3s;
}

header .menu ul li:hover ul {
	opacity: 1;
	visibility: visible;
}

header .menu ul li ul:before {
	content: "";
	width: 2000px;
	height: 100%;
	top: 0;
	right: 100%;
	background: #000;
	position: absolute;
}

header .menu ul li ul:after {
	content: "";
	width: 2000px;
	height: 100%;
	top: 0;
	left: 100%;
	background: #000;
	position: absolute;
}

header .menu ul li ul li a {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 5px;
	display: block;
}

header .menu ul li ul li a:hvoer {
	color: #008BCD;
	text-decoration: none;
}

header #search-modal-btn {
	padding: 5px;
	cursor: pointer;
}

header .mobile-menu {
	display: none;
}


/* Hero Section */
#hero-section {
	background: #043347;
	min-height: calc(100vh - 80px);
	margin-top: 80px;
	color: #fff;
	padding: 77px 0;
	position: relative;
}

#hero-section h1 {
	margin-bottom: 30px;
}


/* Intro Section */
#intro-section {
	padding: 50px 0 40px; 
}

#intro-section p b {
	color: #008BCE;
}


/* Mark Works Section */
#mark-works-section {
	background: #01253B;
	color: #fff;
	padding: 50px 0 70px;
}

#mark-works-section .mark-works-item {
	height: 510px;
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
	padding: 23px 20px;
	z-index: 1;
	margin-bottom: 30px;
}

#mark-works-section .mark-works-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(15, 15, 15, 0.8);
	z-index: -1;
	display: none;
}

#mark-works-section .mark-works-item:hover:before {
	display: block;
}

#mark-works-section .mark-works-item h3 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 50px 25px 25px;
	display: none;
}

#mark-works-section .mark-works-item:hover h3 {
	display: block;
}

#mark-works-section .mark-works-item h4 {
	margin-bottom: 15px;
}

#mark-works-section .mark-work-highlight {
	height: 380px;
	width: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
	z-index: 1;
	padding: 25px;
}

#mark-works-section .mark-work-highlight:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(15, 15, 15, 0.8);
	z-index: -1;
	display: none;
}

#mark-works-section .mark-work-highlight:hover:before {
	display: block;
}

#mark-works-section .mark-work-highlight h3 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 50px 25px 25px;
	display: none;
}

#mark-works-section .mark-work-highlight:hover h3 {
	display: block;
}

#mark-works-section .mark-work-highlight h4 {
	margin-bottom: 15px;
}



/* Testimonials Section */
#testimonials-section {
	padding: 50px 0;
	background-image: url(../img/testimonials/bg.png);
	background-position: top right;
	background-size: contain;
	background-repeat: no-repeat;
}

#testimonials-section.testimonials-section {
	padding: 50px 0;
	background-image: url(../img/testimonials/bg.png);
	background-position: top right;
	background-size: contain;
	background-repeat: no-repeat;
}

#testimonials-section .testimonials-item {
	position: relative;
}

#testimonials-section .testimonials-item .contents {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	padding: 35px;
}

#testimonials-section .owl-item .testimonials-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.75);
}

#testimonials-section .owl-item.center .testimonials-item:after {
	display: none;
}

#testimonials-section .testimonials-item {
	width: 80%;
	height: 80%;
	margin: 10% auto;
}

#testimonials-section .owl-item.center .testimonials-item {
	width: 100%;
	height: 100%;
	margin: 0;
}

#testimonials-section .testimonials-item .contents {
	opacity: 0;
	visibility: hidden;
}

#testimonials-section .owl-item.center .testimonials-item .contents {
	opacity: 1;
	visibility: visible;
}

#testimonials-section .testimonials-item .contents p {
	width: 240px;
	margin-bottom: 30px;
	line-height: 1.2em;
}

#testimonials-section .testimonials-item .contents h3 {
	margin-bottom: 20px;
}

#testimonials-section .testimonials-item .contents span {
	font-size: 18px;
	display: block;
	margin-bottom: 60px
}

#testimonials-section .owl-theme .owl-nav {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
}

#testimonials-section .owl-theme .owl-nav .owl-prev {
	margin-right: 25%;
}

#testimonials-section .owl-theme .owl-nav .owl-next {
	margin-left: 25%;
}

#testimonials-section .owl-theme .owl-nav [class*="owl-"]:hover {
	background: #eee;
}

#testimonials-section .owl-theme .owl-nav [class*="owl-"]:focus {
	outline: none;
}


/* Brain Section */
#brain-section {
	padding: 50px 0;
}

#brain-section .owl-carousel .owl-stage-outer {
	z-index: 10;
}

#brain-section .brain-item .image-box {
	position: relative;
	margin-bottom: 25px;
}

#brain-section .brain-item.red {
	color: #FF0109;
}

#brain-section .brain-item.blue {
	color: #008BCD;
}

#brain-section .brain-item.green {
	color: #0CAE58;
}

#brain-section .brain-item .image-box .contents {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	display: none;
}

#brain-section .owl-item.center:hover .brain-item .image-box .contents {
	display: block;
}

#brain-section .brain-item .image-box .contents a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

#brain-section .brain-item p {
	font-size: 25px;
	text-align: center;
	display: none;
}

#brain-section .owl-item.center .brain-item p {
	display: block;
}

#brain-section .brain-item {
	width: 80%;
	height: 80%;
	margin: 10% auto;
}

#brain-section .owl-item.center .brain-item {
	width: 100%;
	height: 100%;
	margin: 0;
}

#brain-section .owl-theme .owl-nav {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
}

#brain-section .owl-theme .owl-nav button {
	position: relative;
	z-index: 100;
}

#brain-section .owl-theme .owl-nav .owl-prev {
	margin-right: 25%;
}

#brain-section .owl-theme .owl-nav .owl-next {
	margin-left: 25%;
}

#brain-section .owl-theme .owl-nav [class*="owl-"]:hover {
	background: #eee;
}

#brain-section .owl-theme .owl-nav [class*="owl-"]:focus {
	outline: none;
}

#brain-section .owl-item .brain-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.75);
}

#brain-section .owl-item.center .brain-item:after {
	display: none;
}

#brain-section .mobile-note {
	font-size: 18px;
	text-align: center;
	padding: 15px;
}


/* Footer Area */
footer {
	background: #01253B;
	color: #fff;
	padding: 50px 0 0;
}

footer .footer-item {
	margin-bottom: 50px;
}

footer .footer-logo {
	margin-bottom: 25px;
}

footer .social-icons ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer .social-icons ul li {
	display: inline-block;
	margin-right: 15px;
}

footer .social-icons ul li:last-child {
	margin-right: 0;
}

footer .quick-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer .quick-links ul li {
	margin-bottom: 10px;
}

footer .quick-links ul li:last-child {
	margin-right: 0;
}

footer .quick-links ul li a {
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
}

footer h4 {
	text-transform: uppercase;
	margin-bottom: 25px;
}

footer .footer-form .form-control {
	background: #E5E5E5;
	border: none;
	border-radius: 0;
	height: 43px;
	font-weight: 500;
}

footer .footer-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ABABAB;
}
footer .footer-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #ABABAB;
}
footer .footer-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #ABABAB;
}
footer .footer-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #ABABAB;
}

/* Product hero section */
#product-hero-section {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 80px);
	color: #fff;
	margin-top: 80px;
}

#product-hero-section p {
	font-size: 36px;
	max-width: 427px;
	font-weight: 700;
	margin-top: 60px;
	line-height: 1.2em;
}

#product-hero-section .product-section-title {
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

/* Service Intro Section */
#service-intro-section {
	padding: 36px 0;
	background-image: url(../img/bg/bg.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 30%;
}

#service-intro-section a {
	color: #008BCD;
}

#service-intro-section p {
	line-height: 1.2em;
	max-width: 1035px;
	display: inline-block;
}

#service-intro-section h2 {
	font-size: 48px;
	margin: 15px 0 25px;
}

 /* Service Banner Section Start  */
#service-banner {
	padding: 25px 0 35px;
	background: #01253B;
	color: #fff;
	text-align: center;
}

#service-banner h2 {
	font-weight: 500;
	font-size: 48px;
	line-height: 1.2em;
	margin-bottom: 0;
}

/* Service Slider Section Start */
#service-slider-section {
	padding: 50px 0;
	background-position: top right;
	background-size: 50%;
	background-repeat: no-repeat;
}

#service-slider-section .service-slider-item {
	position: relative;
}

#service-slider-section .owl-item .service-slider-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.75);
}

#service-slider-section .owl-item.center .service-slider-item:after {
	display: none;
}

#service-slider-section .service-slider-item {
	width: 80%;
	height: 80%;
	margin: 10% auto;
}

#service-slider-section .owl-item.center .service-slider-item {
	width: 100%;
	height: 100%;
	margin: 0;
}

#service-slider-section .owl-item .service-slider-item .description {
	display: none;
}

#service-slider-section .owl-item.center .service-slider-item .description {
	display: block;
	margin-top: 30px;
	text-align: center;
}

#service-slider-section .owl-theme .owl-nav {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
}

#service-slider-section .owl-theme .owl-nav .owl-prev {
	margin-right: 25%;
}

#service-slider-section .owl-theme .owl-nav .owl-next {
	margin-left: 25%;
}

#service-slider-section .owl-theme .owl-nav [class*="owl-"]:hover {
	background: #eee;
}

#service-slider-section .owl-theme .owl-nav [class*="owl-"]:focus {
	outline: none;
}

#service-slider-section .service-slider-item .description h3 {
	color: #1F99D3;
	font-weight: 500;
}

#service-slider-section .service-slider-item .description p {
	line-height: 1.2em;
}


/* Service Text Section Start */
#service-text-section {
	padding: 0 0 35px 0;
	align-items: center;
}

#service-text-section h2 {
	margin-top: 15px;
} 

#service-text-section p {
    max-width: 743px;
    line-height: 1.2em;
	display: inline-block;
} 

/* Service Featured Section Start */
#service-featured-section {
	color: #fff;
	position: relative;
}

#service-featured-section .section-image {
	width: 100%;
}

#service-featured-section .container {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
}

#service-featured-section .content {
	width: 50%;
	text-align: right;
}

#service-featured-section .content h1 {
	font-weight: 700;
	line-height: 1.2em;
	margin-bottom: 50px;
}

#service-featured-section .content p {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 80px;
	margin-left: 21%;
	line-height: 1.2em;
}

#service-featured-section .content .button-primary {
	font-weight: 700;
	font-size: 24px;
	display: inline-block;
}

/* About Hero Section Start */
#about-hero-section {
	position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 80px);
	color: #fff;
	margin-top: 80px;
}

#about-hero-section h1 {
	margin-bottom: 30px;
}

#about-hero-section p {
	font-size: 36px;
	max-width: 427px;
	font-weight: 700;
	line-height: 1.2em;
}


/* About CTA Section */
#about-cta-section {
	padding: 36px 0;
	background-image: url(../img/bg/bg.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 30%;
}

#about-cta-section p {
	line-height: 1.2em;
}

#about-cta-section p a {
	color: #5BA9DE;
	font-weight: 700;
}

#about-cta-section .text-box {
	width: calc(100% - 300px);
}

#about-cta-section .action-box {
	width: 260px;
	margin-left: 40px;
	text-align: center;
}


/* Discover Section */
#discover-section {
	padding: 50px 0;
	background: #01253B;
	color: #fff;
}

#discover-section h2 {
	font-size: 48px;
}

#discover-section .text-box {
	text-align: right;
}

#discover-section .text-box a {
	color: #5BA9DE;
}


/* Quote Section */
#quote-section {
	padding: 35px 0;
	background-image: url(../img/bg/bg-reverse.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 30%;
	font-size: 36px;
	color: #008BCD;
	text-align: center;
	line-height: 1.2em;
	margin-bottom: 0;
}


/* Secret Section */
#secret-section {
	padding: 50px 0;
	background: #01253B;
	color: #fff;
}

#secret-section h2 {
	font-size: 48px;
}

#secret-section p {
	line-height: 1.3em;
}

#secret-section .logo-box {
	margin-top: 50px;
}

#secret-section .logo-box .logo-item {
	padding: 0 15px;
}


/* About Video Section */
#about-video-section {
	padding: 50px 0;
}

#about-video-section p {
	color: #008BCD;
	font-size: 36px;
	text-align: center;
	margin-top: 30px;
	line-height: 1.2em;
}

/* About Featured Section Start */
#about-featured-section {
	position: relative;
	color: #fff;
}

#about-featured-section .section-image {
	width: 100%;
}

#about-featured-section .container {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
}

#about-featured-section .content {
	width: 50%;
	text-align: right;
}

#about-featured-section .content h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2em;
	margin-bottom: 50px;
}

#about-featured-section .content p {
	font-size: 25px;
	line-height: 1.2em;
}


/* CTA Section */
#cta-section {
	padding: 50px 0;
}

#cta-section .cta-item {
	height: 330px;
	background-position: center;
	background-size: cover;
	position: relative;
}

#cta-section .cta-item .content {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

#cta-section .cta-item h4 {
	color: #fff;
}

/* Player Says Section */

#service-slider-section .thanks-box {
	padding: 36px 0 51px 0;
}

#service-slider-section .thanks-box h3 {
	font-weight: 500;
	line-height: 44px;
	align-items: center;
	text-align: center;
	color: #008BCD;
	padding-bottom: 20px;
}

#service-slider-section .thanks-box p {
	display: inline-block;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	max-width: 879px;
}

/* Brain Page */
#brain-page-testimonial-section {
	position: relative;
	padding: 50px 0;
	background-repeat: no-repeat;
	background-position: right top;
}

#brain-page-testimonial-section .owl-carousel .owl-stage-outer {
	z-index: 10;
}

#brain-page-testimonial-section .brain-page-slider-item .image-box {
	position: relative;
	margin-bottom: 25px;
}

#brain-page-testimonial-section .brain-page-slider-item.red {
	color: #FF0109;
	text-align: center;
}

#brain-page-testimonial-section .brain-page-slider-item.blue {
	color: #008BCD;
}

#brain-page-testimonial-section .brain-page-slider-item.green {
	color: #0CAE58;
}

#brain-page-testimonial-section .brain-page-slider-item .image-box .brain-page-text-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	display: none;
}

#brain-page-testimonial-section .owl-item.center:hover .brain-page-slider-item .image-box .brain-page-text-box {
	display: block;
}

#brain-page-testimonial-section .brain-page-slider-item p {
	font-size: 25px;
	text-align: center;
	display: none;
	color: #000;
	font-size: 24px;
	line-height: 29.26px;
	margin-bottom: 25px;
}

#brain-page-testimonial-section .owl-item .brain-page-text-box {
	display: none;
}

#brain-page-testimonial-section .owl-item .brain-page-text-box p {
	display: none;
}

#brain-page-testimonial-section .owl-item.center .brain-page-text-box {
	display: block;
}

#brain-page-testimonial-section .owl-item.center .brain-page-text-box p{
	display: block;
}

#brain-page-testimonial-section .brain-page-slider-item {
	width: 80%;
	height: 80%;
	margin: 10% auto;
}

#brain-page-testimonial-section .owl-item.center .brain-page-slider-item {
	width: 100%;
	height: 100%;
	margin: 0;
}

#brain-page-testimonial-section .owl-theme .owl-nav {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
}

#brain-page-testimonial-section .owl-theme .owl-nav button {
	position: relative;
	z-index: 100;
}

#brain-page-testimonial-section .owl-theme .owl-nav .owl-prev {
	margin-right: 25%;
}

#brain-page-testimonial-section .owl-theme .owl-nav .owl-next {
	margin-left: 25%;
}

#brain-page-testimonial-section .owl-theme .owl-nav [class*="owl-"]:hover {
	background: #eee;
}

#brain-page-testimonial-section .owl-theme .owl-nav [class*="owl-"]:focus {
	outline: none;
}

#brain-page-testimonial-section .owl-item .brain-page-slider-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.75);
	width: 80%;
    height: 80%;
    margin: 10%;
}

#brain-page-testimonial-section .owl-item.center .brain-page-slider-item:after {
	display: none;
}

#brain-page-testimonial-section .topper-text {
	margin-bottom: 50px;
}

#brain-page-testimonial-section .topper-text p {
	max-width: 954px;
	display: inline-block;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 25px;
}

#brain-page-testimonial-section .topper-text a {
	color: #008BCD;
	text-decoration: none;
}

#brain-page-testimonial-section .section-header {
	margin-bottom: 50px;
}

/* Contact page */

#contact-hero-section {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 80px);
	color: #fff;
	margin-top: 80px;
}

#contact-hero-section p {
	font-size: 36px;
	max-width: 427px;
	font-weight: 700;
	line-height: 1.2em;
	margin-top: 30px;
}

#contact-section {
	padding: 29px 0 47px 0;
	border-bottom: 4px solid #FF0000;
}

#contact-section h4 {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #5BA9DE;
	margin-bottom: 10px;
	margin-left: 10px;
}

#contact-section textarea {
	max-height: 145px;
}

#contact-section textarea, 
#contact-section input {
	background: #E6F2FA;
}

#contact-section button {
	outline: none;
	/* border: none; */
}

::placeholder {
	color: #ABABAB;
	opacity: .2; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ABABAB;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #ABABAB;
}
